<ion-header  *ngIf="loaded">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<div *ngIf="loaded">
  <img id="burger" src="../../assets/burger.jpg" alt="">
</div>

<ion-content  *ngIf="loaded">

  <div id="restoBox">
    <div *ngFor="let restaurant of restaurantsList" style="border: 1px solid black;">
      <p>
        Name: {{restaurant.restaurant_name}}
        
      </p>
      <p>
        Address: {{restaurant.address}}
      
      </p>
      <router-outlet>
      <ion-button [routerLink]="['../restaurant-details', restaurant.id]">
        See Details
      </ion-button>
    </router-outlet>
     
      
    </div>
  </div>

</ion-content>


