<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
<div>
  <img src="../../assets/burger.jpg" alt="">
</div>

<ion-content>

  <div id="restoBox">
    <div *ngFor="let restaurant of restaurantsList" style="border: 1px solid black;">
      <p>
        Name: {{restaurant.restaurant_name}}
        
      </p>
      <p>
        Address: {{restaurant.address}}
      
      </p>
      <button [routerLink]="['/restaurant-details', restaurant.id]">
        See Details
      </button>
     
      
    </div>
  </div>

</ion-content>


