<ion-header>
  <ion-toolbar>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form>

      <br>
      <div>
        <ion-item lines="full">
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </div>

      <br>
      <div>
        <ion-item lines="full">
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </div>

      <br>
      <div>
        <ion-item lines="full">
          <ion-label position="floating">Tags</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </div>

      <!-- rating -->


      <br>
      <div>
        <ion-item lines="full">
          <ion-label position="floating">Description</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </div>

      <ion-button size="large" color="dark" class="button-confirm">Confirm</ion-button>

    </form>
  </ion-content>
</ion-content>
